# Set default behavior to handle line endings automatically and standardize on LF
* text=auto eol=lf

# Source code files
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
